<a href="https://colab.research.google.com/github/JaimeAdele/APEX/blob/main/Module6_lists_and_tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://images.pexels.com/photos/131979/pexels-photo-131979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' width=700>  
Photo by freestocks.org from Pexels

# APEX Faculty Training, Module 6: Lists and tuples

Created by Valerie Carr and Jaime Zuspann  
Licensed under a Creative Commons license: CC BY-NC-SA  
Last updated: Feb 1, 2022  

**Learning outcomes**  
To learn about and gain practice with:
1. Syntax for creating list and tuples
2. Differing properties between lists and tuples
3. Operations that can be performed with list and tuples

## 1. A couple notes before you start 
* This file is view only, meaning that you can't edit it.
    * To create an editable copy, look towards the top of the notebook and click on `Copy to Drive`. This will cause a new tab to open with your own personal copy.
    * If you want to refer back to your copy in the future, you can find it in Google Drive in a folder called `Colab Notebooks`.
* To run a cell, use `shift` + `enter`.   
* Keep the following Python style preferences in mind:
    * Variable names should use `snake_case`
    * Include spaces before and after operators, e.g., `x + 1`
    * Don't put unnecessary spaces after a function name, before the parentheses
        * Correct: `print(my_variable)`
        * Incorrect: `print (my_variable)`
    * Don't put unnecessary spaces at the beginning or end of parentheses
        * Correct: `print(my_variable)`
        * Incorrect: `print( my_variable )`

## 2. List basics  
A list is a data type that contains a sequence of items. The items in a list can be of any type: integers, floats, strings, booleans, etc. Items of different data types can also be contained in the same list, although mixed-type lists are not common in practice.  
 
To tell Python that something is a list, we use square brackets to surround the items and we separate items with commas. Below are examples of several lists:

```
int_list = [1, 2, 3, 4]
float_list = [1.41, 9.63, 2.72, 3.14, 8.99]
bool_list = [True, True, False]
str_list = ['alpha', 'beta', 'gamma', 'delta', 'epsilon']
mix_list = [1, 1.61, False, 'delta']
```

<font color='red'>Exercise 1</font>  
In the cell below:
* Create a list called `names` that contains several strings: Your first name, a family member's name, and an actor's first name. Note: given that these names are strings, you'll need to put quote marks around each individual name.
* Create a list called `odd_nums` that contains several integers, specifically, odd numbers between 1-10.
* Print each list.

In [ ]:
# List of names


# List of odd numbers


# Print

## 3. Operations with lists
Similar to how Python performs different operations on number types and strings, there are also operations that are specific to lists. However, many operations that you've already learned apply to lists as well.

### 3a. Concatenation
Just like strings, lists can be joined together (concatenated) with the `+` operator. 

<font color='red'>Exercise 2</font>   
In the cell below, you can see an example in which two lists relating to ice cream toppings are concatenated to create a new list called `all_tops`. Before running the cell, ask yourself: What do you think `all_tops` will look like? Run the cell to find out the answer!

In [ ]:
toppings1 = ['oreos', 'chocolate sprinkles']
toppings2 = ['caramel', 'peanuts']
all_tops = toppings1 + toppings2
print(all_tops)

<font color='red'>Exercise 3</font>  
Now it's your turn to create and concatenate two lists. In the cell below:  
* Create the variable `common_pets` and assign it a list of three pets that are common in the US. Same note as above: given that these pet types are strings, you'll need to surround each pet with quote marks.
* Create the variable `uncommon_pets` and assign it a list of three less common pets. (Ditto about quote marks).
* Create the variable `all_pets` and assign it the concatenation of `common_pets` and `uncommon_pets`.
* Print `all_pets` to ensure that the new list looks like you expect it to.

### 3b. Making copies
Similar to strings, multiple copies of a list can be created with the `*` operator. 

<font color='red'>Exercise 4</font>  
In the cell below, you can see an example in which we create a new list called `double_tops` that contains two copies of `all_tops`. Before running the cell, ask yourself: What do you think `double_tops` will look like? Run the cell to find out if you're right!

In [ ]:
double_tops = all_tops * 2
print(double_tops)

<font color='red'>Exercise 5</font>  
Now it's your turn to practice making copies. In the cell below, create a variable called `lots_of_pets` and assign it 5 copies of the `uncommon_pets` list from above. Print the new list.

### 3c. Min and max values in a list
We can use the `min()` and `max()` functions on lists containing either numbers or strings (but not a mix of both).
* For lists containing numbers, the min and max values are straightforward. 
* For lists containing strings, min and max refer to alphabetical order, such that the min value is the item that comes earliest in the alphabet, and the max value is the item that comes latest in the alphabet.

<font color='red'>Exercise 6</font>  
In the cell below, you can see examples of the `min()` and `max()` functions being applied to two different lists. Before running the cell, ask yourself: What do you think the result of each operation will be? Run the cell to find out if you're right!

In [ ]:
# list of numbers
prices = [2.99, 1.49, 9.99, 6.29]
print(max(prices))

# list of strings
names = ['Natalia', 'Aurora', 'Isabella', 'Emilia']
print(min(names))

<font color='red'>Exercise 7</font>  
Now you try using the `min()` and `max()` functions! In the cell below:
* Determine which of the pet types in `all_pets` appears latest in the alphabet. Be sure to print the result.
* Determine which of the numbers in `odd_nums` has the lowest value. Be sure to print the result.

In [ ]:
# Pets


# Odd numbers

### 3d. Summing values in a list
For lists containing numbers (i.e., integers and floats), you can use the `sum()` function to determine the sum of all values in the list. The syntax is simply
`sum(list_name)`, such that you replace `list_name` with the relevant variable.

<font color='red'>Exercise 8</font>  
In the cell below, determine the sum of all the values in the `prices` list created in a previous exercise. Be sure to print the result.

### 3e. Determining list length
The function `len()` is used to determine the number of items in a list. Here again, the syntax is simple: `len(list_name)`.

<font color='red'>Exercise 9</font>  
In the cell below, determine the length of the list `lots_of_pets`. Be sure to print the result.

### 3f. Checking the contents of a  list
In the strings module, you learned about using `in` and `not in` to check the contents of a string. You can use these same commands to check whether an item is in or not in a list.

For example, if we have the following list:

`str_list = ['alpha', 'beta', 'gamma', 'delta', 'epsilon']`

We could then check whether delta is in the list as follows:

`'delta' in str_list`

In this case, the result would be `True`.

<font color='red'>Exercise 10</font>  
Try it yourself! In the cell below:
* Determine whether `'turtle'` is in the list `all_pets`, and be sure to print the result
* Determine whether `'fudge'` is NOT in the list `all_tops`, and be sure to print the result

In [ ]:
# Pets


# Toppings

### 3g. Indexing
In a previous module, you learned that an item's index is its position in a larger sequence. Thus far, we've applied this concept to strings to select a character at a particular index. A few reminders:  

* General syntax: `my_var[n]`, where `n` is an integer
* Indexing starts with 0; to select the first item in a sequence, you would use `my_var[0]`
* You can use negative indexing to select items at the end of a sequence; for example, `my_var[-2]` would give you the second to list item in the sequence

All of the above holds true when it comes to indexing lists!

<font color='red'>Exercise 11</font>  
In the cell below, you'll see two examples of indexing the `names` list from above. As a reminder, the list contains the following:

`names = ['Natalia', 'Aurora', 'Isabella', 'Emilia']`

Before running the cell, ask yourself: What do you think the result of each operation will be? Run the cell to find out if you're right!

In [ ]:
print(names[2])
print(names[-3])

<font color='red'>Exercise 12</font>  
Using the `prices` list from above, use the indexing operator to determine: 
* The second item in the list, making sure to print the result (which should be 1.49)
* The second-to-last item in the list, making sure to print the result (which should be 9.99)

Note: There is more than one way to solve this exercise – you could use regular or negative indexing to achieve the same result.

In [ ]:
# Second


# Second to last

## 4. List properties
One key way in which data types differ is their **mutability**. Mutable data types are those that can be changed or modified; immutable data types are those that can't be changed or modified.

Lists are mutable! In other words, it's possible to create a list and then change its contents (e.g., replacing items, removing items, adding items). By contrast, strings are immutable, such that you *can't* change the characters in a string after creating it.

For now, we'll stick with a simple example of modifying a list: replacing one item with another. This is accomplished using the indexing operator to indicate which item you want to replace, and the new value to replace it with. The syntax is as follows: `my_list[n] = x`, where `n` is an integer indicating the desired index, and `x` represents the new value.

<font color='red'>Exercise 13</font>  
In the cell below, you'll see a demonstration of list mutability. Before running the cell, ask yourself: What do you think the result will be? Run the cell to find out!

In [ ]:
# creating the list
words = ['cat', 'hat', 'bat']
print(words)

# modifying the list
words[0] = 'mat'
print(words)

<font color='red'>Exercise 14</font>  
Now it's your turn to explore list mutability. In the cell below, create a list called `lucky_nums` with three integers of your choosing. Print the list. Then, modify the list by replacing the first integer, and print the list again. Did you get the expected result?

In [ ]:
# create and print the list


# modify and print the list

<font color='red'>Exercise 15</font>  
What happens if we try to do something similar to a string, such that we replace one character with another? In the cell below, this is exactly what we attempt to do. As you'll see, this attempt causes a TypeError.

In [ ]:
# creating the string
word = 'word'
print(word)

# attempting to modify the string
word[-1] = 'k'
print(word)

Let's take a look at the error message to better understand what's happening. First, note that there is a green arrow pointing to line 6. This arrow tells you that line 6 is the one causing the error.

Second, the error message says that strings do not support item assignment. In other words, you can't assign a single item (i.e., a character) in a string with a new value. Why? Strings are immutable! You can't change them.

## 5. Tuples  
Time for a new data type! Tuples are similar to lists in that they contain a sequence of items separated by commas. Rather than being enclosed in square brackets, however, tuples are enclosed in parentheses. For example:
```
int_tuple = (1, 2, 3, 4, 5)
str_tuple = ('hello', 'goodbye')
```

A key difference between lists and tuples is that tuples are immutable. As such, you *can't* use the indexing operator to make item substitutions in a tuple. Otherwise, all of the other list operations that you learned above can also be applied to tuples.  
 
<font color='red'>Exercise 16</font>  
To gain practice with which operations do and don't work with tuples, start by creating the variable `pres_tup` and assign it a tuple with the last names of the three most recent presidents. Then...
* Determine the max value of the tuple, printing the result
* Make a new list called `pres_double` that includes two copies of `pres_tup`, and then print the result
* Attempt to replace one of the names in `pres_tup` with your own last name. Do you understand the error message?

In [ ]:
# Create tuple

In [ ]:
# Max value

In [ ]:
# Double trouble

In [ ]:
# Swap names

## Congrats, you're done! 
You've learned the basic functionality of lists and tuples, two very useful Python data types. In the next module, you'll learn about another very useful Python data type: dictionaries.