<a href="https://colab.research.google.com/github/JaimeAdele/APEX/blob/main/Module6_lists_and_tuples_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src='https://images.pexels.com/photos/131979/pexels-photo-131979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' width=700>  
Photo by freestocks.org from Pexels

# APEX Faculty Training, Module 6 Solutions

Created by Valerie Carr and Jaime Zuspann  
Licensed under a Creative Commons license: CC BY-NC-SA  
Last updated: Jan 22, 2022

## 2. List basics  
<font color='red'>Exercise 1 solution</font>  
* Create a list called `names` that contains several strings: Your first name, a family member's name, and an actor's first name. Note: given that these names are strings, you'll need to put quote marks around each individual name.
* Create a list called `odd_nums` that contains several integers, specifically, odd numbers between 1-10.
* Print each list.  

Names will be different, but solution should be the same.

In [ ]:
# List of names
names = ['Anna', 'James', 'Ryan']

# List of odd numbers
odd_nums = [1, 3, 5, 7, 9]

# Print
print(names)
print(odd_nums)

## 3. Operations with lists
<font color='red'>Exercise 2 solution</font>   
Run the cell to see the output of `all_tops`. Output is:  
`['oreos', 'chocolate sprinkles', 'caramel', 'peanuts']`

In [ ]:
toppings1 = ['oreos', 'chocolate sprinkles']
toppings2 = ['caramel', 'peanuts']
all_tops = toppings1 + toppings2
print(all_tops)

<font color='red'>Exercise 3 solution</font>  
* Create the variable `common_pets` and assign it a list of three pets that are common in the US. Same note as above: given that these pet types are strings, you'll need to surround each pet with quote marks.
* Create the variable `uncommon_pets` and assign it a list of three less common pets. (Ditto about quote marks).
* Create the variable `all_pets` and assign it the concatenation of `common_pets` and `uncommon_pets`.
* Print `all_pets` to ensure that the new list looks like you expect it to.  

The pets may be different but the solution should be the same.

In [ ]:
common_pets = ['cat', 'dog', 'goldfish']
uncommon_pets = ['frog', 'hedgehog', 'chameleon']
all_pets = common_pets + uncommon_pets
print(all_pets)

<font color='red'>Exercise 4 solution</font>  
Run the cell to see the output of `double_tops`. Output is:  
`['oreos', 'chocolate sprinkles', 'caramel', 'peanuts', 'oreos', 'chocolate sprinkles', 'caramel', 'peanuts']`

In [ ]:
double_tops = all_tops * 2
print(double_tops)

<font color='red'>Exercise 5 solution</font>  
Create a variable called `lots_of_pets` and assign it 5 copies of the `uncommon_pets` list from above. Print the new list.

In [ ]:
lots_of_pets = uncommon_pets * 5
print(lots_of_pets)

<font color='red'>Exercise 6 solution</font>  
Run the cell to see the outputs. Outputs are:  
`9.99`  
`Aurora`

In [ ]:
# list of numbers
prices = [2.99, 1.49, 9.99, 6.29]
print(max(prices))

# list of strings
names = ['Natalia', 'Aurora', 'Isabella', 'Emilia']
print(min(names))

<font color='red'>Exercise 7 solution</font>  
* Determine which of the pet types in `all_pets` appears latest in the alphabet. Print the result.
* Determine which of the numbers in `odd_nums` has the lowest value. Print the result.

In [ ]:
# Pets
print(max(all_pets))

# Odd numbers
print(min(odd_nums))

<font color='red'>Exercise 8 solution</font>  
Determine the sum of all the values in the `prices` list created in a previous exercise. Print the result.

In [ ]:
print(sum(prices))

<font color='red'>Exercise 9 solution</font>  
Determine the length of the list `lots_of_pets`. Print the result.

In [ ]:
print(len(lots_of_pets))

<font color='red'>Exercise 10 solution</font>  
* Determine whether `'turtle'` is in the list `all_pets`, and print the result
* Determine whether `'fudge'` is NOT in the list `all_tops`, and print the result

In [ ]:
# Pets
print('turtle' in all_pets)

# Toppings
print('fudge' not in all_tops)

<font color='red'>Exercise 11 solution</font>  
Run the cell to see the outputs. Outputs are:  
`Isabella`  
`Aurora`

In [ ]:
print(names[2])
print(names[-3])

<font color='red'>Exercise 12</font>  
Using the `prices` list from above, use the indexing operator to determine: 
* The second item in the list, making sure to print the result (which should be 1.49)
* The second-to-last item in the list, making sure to print the result (which should be 9.99)

Note: There is more than one way to solve this exercise – you could use regular or negative indexing to achieve the same result.

In [ ]:
# Second
print(prices[1])

# Second to last
print(prices[-2])

## 4. List properties
<font color='red'>Exercise 13 solution</font>  
Run the cell to see the outputs. Outputs are:  
`['cat', 'hat', 'bat']`  
`['mat', 'hat', 'bat']`

In [ ]:
# creating the list
words = ['cat', 'hat', 'bat']
print(words)

# modifying the list
words[0] = 'mat'
print(words)

<font color='red'>Exercise 14 solution</font>  
Create a list called `lucky_nums` with three integers of your choosing. Print the list. Then, modify the list by replacing the first integer, and print the list again.  
The numbers may be different, but the structure should be the same.

In [ ]:
# create the list
lucky_nums = [4, 12, 17]

# modify the list
lucky_nums[0] = 3
print(lucky_nums)

<font color='red'>Exercise 15 solution</font>  
Run the cell to see that a TypeError occurs when you attempt to change a string.

In [ ]:
# creating the string
word = 'word'
print(word)

# attempting to modify the string
word[-1] = 'k'
print(word)

## 5. Tuples  
<font color='red'>Exercise 16 solution</font>  
Start by creating the variable `pres_tup` and assign it a tuple with the last names of the three most recent presidents. Then...
* Determine the max value of the tuple, printing the result
* Make a new list called `pres_double` that includes two copies of `pres_tup`, and then print the result
* Attempt to replace one of the names in `pres_tup` with your own last name.  

When you run the cell, you'll receive a TypeError for attempting to change a value in a tuple.

In [ ]:
# Create tuple
pres_tup = ('Biden', 'Trump', 'Obama')

In [ ]:
# Max value
print(max(pres_tup))

In [ ]:
# Double trouble
pres_double = pres_tup * 2
print(pres_double)

In [ ]:
# Swap names
pres_tup[0] = 'Smith'